@import "../../../index.scss";
@import "../blog-pages/blog-3.css";

.btn-div {
  border-bottom: 1px solid $color-secondary-text;

  a {
    color: $color-secondary-text;
    text-decoration: none;
    font-size: 1.4rem;
  }

  a:hover {
    background-color: $color-border-light;
  }
}

