@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
header {
  padding-top: 1.4rem;
  text-align: center;
  background-color: rgb(228, 152, 71);
  width: 100vw;
}
header .logo {
  margin-bottom: 1.6rem;
}
header .logo a {
  display: inline-block;
  transition: ease 0.2s;
}
header .logo a .fa-medium {
  font-size: 1.8rem;
}
header .logo a:hover {
  transform: scale(1.5);
}
header nav {
  border: 2px solid red;
  padding: 1.2rem 0;
  background-color: rgb(177, 156, 223);
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  transition: all ease 0.2s;
}
header nav a:hover {
  font-size: 1.3rem;
}
header nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(108, 67, 185);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
header nav a:hover::after {
  transform: scaleX(1);
}

@media screen and (min-width: 768px) {
  header .logo {
    text-align: left;
    margin-left: 4rem;
  }
  header nav {
    justify-content: flex-end;
  }
  header nav a {
    margin-right: 4rem;
  }
}
@keyframes blink-logo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  width: 100vw;
  margin-top: 8rem;
  background-color: rgb(228, 152, 71);
  text-align: center;
  border-top: 2px solid #000;
  box-shadow: -1px 1px 28px 2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -1px 1px 28px 2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -1px 1px 28px 2px rgba(0, 0, 0, 0.79);
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
footer .social-media a i {
  font-size: 2.4rem;
  color: #1f1c24;
}
footer .info {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  color: #2b2b2b;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f1eaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 100vw;
}
main section .main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
main section .main-container .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .main-container .text-container .main-text {
  width: 24rem;
  background-color: #f1eaea;
  margin: 2rem;
}
main section .main-container .text-container .main-text .typing-effect {
  display: flex;
}
main section .main-container .text-container .main-text .typing-effect h1 {
  font-size: 2rem;
  animation: typing-animation 0.5s infinite, change-width 2s steps(30, end) 1;
  white-space: nowrap;
  overflow: hidden;
}
main section .main-container .text-container .main-text .typing-effect h1 span {
  color: rgb(108, 67, 185);
}
main section .main-container .text-container .main-text p {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}
main section .main-container .text-container .main-text a {
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.2rem;
  border: 1px solid rgba(0, 0, 200, 0.15);
  background-color: rgb(177, 156, 223);
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
}
main section .main-container .text-container .main-text a:hover {
  color: #f33c3c;
}
main section .main-container .img-container {
  margin-top: 4rem;
}
main section .main-container .img-container .main-image img {
  border: 1px solid rgba(0, 0, 200, 0.15);
  width: 24rem;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.6s ease;
  display: block;
  cursor: pointer;
}
main section .main-container .img-container .main-image img:hover {
  transform: scale(1.1);
  box-shadow: 0, 0 45px 9px rgba(28, 27, 28, 0.9);
  -webkit-box-shadow: 3px 3px 45px 9px rgba(28, 27, 28, 0.9);
  -moz-box-shadow: 3px 3px 45px 9px rgba(28, 27, 28, 0.9);
}

@media screen and (min-width: 768px) {
  main section .main-container {
    flex-direction: row;
    gap: 2rem;
  }
  main section .main-container .text-container .main-text {
    width: 35rem;
  }
  main section .main-container .text-container .main-text h1 {
    font-size: 2.4rem;
  }
  main section .main-container .text-container .main-text p {
    font-size: 1.6rem;
  }
  main section .main-container .img-container .main-image img {
    width: 35rem;
  }
}
@keyframes typing-animation {
  0% {
    border-right: none;
  }
  100% {
    border-right: 1px solid black;
  }
}
@keyframes change-width {
  0% {
    width: 0;
  }
  75% {
    width: 100%;
  }
}/*# sourceMappingURL=home.css.map */