$color-primary: rgb(228, 152, 71);
$color-secondary: rgb(177, 156, 223);
$color-secondary-1: rgb(108, 67, 185);
$color-background:#f1eaea;
$color-main-text: #2b2b2b;
$color-secondary-text: #f33c3c;
$color-border-light: rgba(0, 0, 200, 0.15);

